#Protect cfg files from being read
<FilesMatch "\.(cfg)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

DirectoryIndex main.php

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . main.php

