{% extends "Base.twig" %}

{% block title %}Account{% endblock %}

{% block content %}
	<h2>Account</h2>
	<form id='update_account'>
		<input type="hidden" id="id" name="id" value="{{ user.id }}">
		<div class="form-group">
			<label for="pin">Update PIN</label>
			<input type="number"min="0" max="9999" step="1"  class="form-control" id="pin" name="pin" placeholder="No PIN currently set" value="{{ user.pin }}">
		</div>
		<button type="submit" class="btn btn-primary">Save Settings</button>
	</form>
	<a href='/history' class='btn btn-link'>View {{ task_name }} History</a>
	<form id='logout'><button class='btn btn-default' type='submit'>Logout</button></form>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/account.css">
{% endblock %}

{% block javascript %}
	<script src="/js/account.js"></script>
{% endblock %}