{% extends "Base.twig" %}

{% block title %}Add Chore{% endblock %}

{% block content %}
	<form action='add_chore.php' method='post'>
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" placeholder="Chore Name">
		</div>
		<div class="form-group">
			<label for="desc">Description</label>
			<textarea class="form-control" id="desc" name="desc" placeholder="Chore description"></textarea>
		</div>
		<div class="form-group">
			<label for="repeat">Repeat After</label>
			<input
					type="text"
					id="repeat"
					name="repeat"
					data-provide="slider"
					data-slider-ticks="[1, 7, 14, 21, 30]"
					data-slider-tooltip="always"
					data-slider-step="1"
					data-slider-value="7"
					data-slider-max="30"
			>
			<p class="help-block">After how many days should this chore be available to complete again?</p>
		</div>
		<div class="form-group">
			<label for="priority">Priority</label>
			<input
					type="text"
					id="priority"
					name="priority"
					data-provide="slider"
					data-slider-ticks-labels='["low", "high"]'
					data-slider-step="1"
					data-slider-value="3"
			>
		</div>
		<button type="submit" class="btn btn-primary">Add Chore</button>
	</form>
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/css/bootstrap-slider.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="css/add.css">
{% endblock %}

{% block javascript %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/bootstrap-slider.min.js"></script>
{% endblock %}