{% extends "Base.twig" %}

{% block title %}Admin{% endblock %}

{% block content %}
	<h2>{{ task_name }} Admin</h2>

	<a href='/add' class='btn btn-default'>Add {{ task_name }}</a>
	<a href='/all' class='btn btn-default'>View All {{ task_name }}s</a>
	<a href='/history/all' class='btn btn-default'>{{ task_name }} History</a>
{% endblock %}
