{% extends "Base.twig" %}

{% block title %}Admin{% endblock %}

{% block content %}
	<h2>Chore Admin</h2>

	<a href='/add' class='btn btn-default'>Add Chores</a>
	<a href='/history/all' class='btn btn-default'>Chore History</a>
{% endblock %}
