{% extends "Base.twig" %}

{% block title %}All {{ task_name }}s{% endblock %}

{% block content %}
		<h2>All {{ task_name }}s</h2>
		{% for task in tasks %}
			{% include 'components/task_button.twig' %}
		{% endfor %}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/all.css">
{% endblock %}
