{% extends "Base.twig" %}

{% block title %}All {{ task_name }}s{% endblock %}

{% block content %}
		<h2>All {{ task_name }}s</h2>
		{% for task in tasks %}
			<a href='/data/{{ task.id }}' class='btn btn-default'>{{ task.name }}</a>
		{% endfor %}
{% endblock %}