{% extends "Base.twig" %}

{% block title %}Available Chores{% endblock %}

{% block content %}
		<h2>Available Chores</h2>
		{% for chore in chores %}
			<a href='/chore/{{ chore.chore_id }}' class='btn btn-default'>{{ chore.name }}</a>
		{% endfor %}

		{% if user.is_admin %}
			<a href='/admin'>Admin Links</a>
		{% else %}
			<a href='/history'>Your Chore History</a>
		{% endif %}
{% endblock %}