{% extends "Base.twig" %}

{% block title %}Who Are You?{% endblock %}

{% block content %}
	<h2>Who Are You?</h2>
	{% for user in users %}
		<button class='btn btn-default who' value='{{ user.id }}'>{{ user.name }}</button>
	{% endfor %}
{% endblock %}

{% block javascript %}
	<script src="/js/who.js"></script>
{% endblock %}
